*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav ul li{
    margin: 5px;
}
